body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Poppins-Black';
  src: local('Poppins-Black'), url(../public/fonts/Poppins-Black.ttf);
}
@font-face {
  font-family: 'Poppins-Bold';
  src: local('Poppins-Bold'), url(../public/fonts/Poppins-Bold.ttf);
}
@font-face {
  font-family: 'Poppins-Light';
  src: local('Poppins-Light'), url(../public/fonts/Poppins-Light.ttf);
}
@font-face {
  font-family: 'Poppins-Medium';
  src: local('Poppins-Medium'), url(../public/fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: 'Poppins-Regular';
  src: local('Poppins-Regular'), url(../public/fonts/Poppins-Regular.ttf);
}